body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CFD8D6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Site-Input*/

#submit-site {
  background-color: #455864;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

h1 {
  color: #FFFFFF;
  padding: 10px
}

#submit-site input {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

#enter, #remove-read {
  background-color: #FFC107;
  color: #FFFFFF;
  border: none;
  width: 90%;
  margin: 10px 0px 15px 0px;
  font-weight: bold;
}

#enter:hover, #remove-read:hover {
  background-color: #FFD773;
}
.count-container {
  display: flex;
  justify-content: center


}
.count {
  color: #ffffff;
  font-size: 10px;
  width: 90px;
}

#alert-msg {
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
}

#alert-msg {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  margin: 10px auto;
  color: #FFFFFF;
}

/*Site Cards*/

#site-list {
  background-color: #CFD8DC;
  width: 90%;
}

.site-card {
  background-color: #FFFFFF;
  width: 100%;
  margin: 10px auto;
  border: 1px solid;
  border-color: #607D8B;
  text-align: left;
  font-weight: 400;
}

.site-card h2 {
  border-bottom: 2px solid;
  border-color: #CFD8DC;
  width: 90%;
  padding: 5px;
  margin: 10px auto;
}

.site-url{
  color: #607D8B;
}

.site-title {
  color: #455864;
  font-weight: 800;
}

.site-card button {
  margin: 5px 5px;
  background: none;
  border: none;
  text-decoration: underline;
}

.delete-button {
  float: right;
}

.site-card a:hover, .read-button:hover, .delete-button:hover {
  color: #455864;
  border-bottom: 2px solid yellow;
  font-weight: bold;
}

.read {
  background-color: #F2F4F4;
}

.readButton {
  color: #F05A28;
}

.readLink {

  border-bottom: 1px solid #CFD8DC;
}

/*Media Queries*/

@media screen and (min-width: 475px) {
  #submit-site {
    width: 100%;
    font-size: 35px;
  }
  .list-img {
    width: 35px;
    height: 30px;
  }
  #submit-site input, #enter {
    width: 90%;
    margin: 10px auto;
  }
  #enter {
    padding: 8px;
  }
  .site-card {
    width: 95%;
  }
  .site-card button {
    margin: 5px 15px;
  }
}

@media screen and (min-width: 700px) {
  #submit-site {
    font-size: 45px;
  }
  .list-img {
    width: 40px;
    height: 35px;
  }
  #submit-site input{
    width: 80%;
    margin: 15px auto;
    padding: 10px;
  }
  #enter {
    padding: 10px;
    width: 80%;
  }
  .site-card {
    margin: 10px auto;
    width: 90%;
  }
}

@media screen and (min-width: 900px) {


}
