body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CFD8D6;
}

h1 {
  color: #FFFFFF;
  padding: 10px;
  font-size: 20px;
}
#submit-site {
  background-color: #455864;
  /*width: 320px;*/
  /*height: 200px;*/
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  /*padding: 5px 5px;*/
}

.container input {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

#enter {
  background-color: #FFC107;
  color: #FFFFFF;
  width: 90%;
  border: none;
  margin: 15px auto;
  font-size: 15px;
}

#enter:hover {
  background-color: #FFD773;
}

/*Site cards*/

#site-list {
  background-color: #CFD8DC;
  padding: 10px;
}


.site-card {
  background-color: #FFFFFF;
  width: 100%;
  margin: 10px auto;
  border: 1px solid;
  border-color: #607D8B;
  text-align: left;
  font-weight: 400;
}

h2 {
  color: #455864;
  border-bottom: 2px solid;
  border-color: #CFD8DC;
  margin: 10px 10px;
}

.site-card h3 {
  color: #607D8B;
  border-bottom: 2px solid;
  border-color: #CFD8DC;
  margin: 10px 10px;
}


.site-card button {
  margin-left: 10px;
  margin-bottom: 5px;
  position: relative;
  background: none;
  border: none;
  text-decoration: underline;
}

.read-button {
}

.delete-button {
}
